.book-item {
    display: flex;
    align-items: start;
    margin-bottom: 20px;  /* Add some space at the bottom of each book item */
  }

  .book-image {
    width: 125px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;  /* Add some space at the right of the image */
  }

  .book-info {
    flex-grow: 1;
    overflow: auto;
  }

  ul {
    list-style-type: none;  /* This removes the bullets */
    padding: 0;  /* This removes the default padding */
  }
  .book-detail-image {
    width: 300px;
    height: 450px;
    object-fit: contain;
    margin-right: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
